@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.cdnfonts.com/css/switzer');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Inter';
  background: #000000;
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0U4QjA1OSIvPjwvc3ZnPg=='),
    auto;
}

a {
  color: black;
}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}

svg {
  fill: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 1s forwards;
}

.topbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: large;
  font-weight: 600;
  user-select: none;
  z-index: 1000;
}

.logo {
  padding: 10px;
  
}
.rightend {
  display: flex;
  justify-content: space-around;
}

.btn {
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-left: 30px;
}

.circular-overlay {
  position: fixed;
  top: 50%; /* Start from the center */
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  transform: scale(0) translate(-50%, -50%); /* Center the circle */
  transform-origin: center; /* Expand from the center */
  pointer-events: none; /* Disable interaction */
  z-index: 999; /* Above other elements */
}

.fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0; /* Initially transparent */
  pointer-events: none;
  z-index: 998; /* Just below the circle */
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px); /* Start from below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Move to its final position */
  }
}

@keyframes slideLeft {
  0% {
    opacity: 1;
    transform: translateX(00px);
  }
  100% {
    opacity: 0;
    transform: translateX(-1000px);
  }
}

.heading {
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translate(-50%, -30%);
  z-index: 10; /* Ensure it appears above the canvas */
  color: #fff; /* Set text color */
  font-family: 'Switzer', sans-serif;
  /* font-weight: ; Use semibold */
  font-size: 400%;
  pointer-events: none; /* Ensure the text doesn't interfere with pointer events */
  opacity: 0; /* Start hidden */
  animation: slideUp 0.5s ease-out forwards;
}

.appear-animation {
  animation: slideUp 1s ease-out;
}

.exit-animation {
  animation: slideLeft 0.5s ease-out;
}

.underlined {
  text-decoration: underline;
}
